div.scroll-container {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.scroll-container::-webkit-scrollbar {
    width: 10px;
}

.scroll-container::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.scroll-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #d55959;
}

div.scroll-container img {
    padding: 10px;
    height: 400px;
}

.college-title {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.degree-title {
    font-weight: 400;
}

.year-title {
    font-size: large;
    font-weight: 400;
}

.college-img {
    border: 1px solid black;
    border-radius: 10px;
}

@media screen and (min-width: 992px) {
    hr {
        display: none;
    }
}